* {
  box-sizing: border-box;
}

.App {
  font-family: "Montserrat", sans-serif;
}

.cards .cardimage {
  /* background-image: url("https://source.unsplash.com/featured/?hiking"); */
  height: 200px;
  /* width: 245px; */
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 6px 6px 0px 0px;
  opacity: 0.91;
}

.cards .carditem:hover .cardimage {
  opacity: 1;
}

.cards {
  display: flex;
  padding: 1rem;
  margin-bottom: 2rem;
  width: 60%;
  margin: 26px 22px;
}
@media (min-width: 40rem) {
  .cards {
    width: 50%;
  }
}
@media (min-width: 56rem) {
  .cards {
    width: 295px;
  }
}

.cards .carditem {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
}

.carditem:hover {
  cursor: pointer;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.cardinfo {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem 1rem 0 1rem;
  line-height: 0.5em;
  align-items: center;
}
.cardtitle {
  font-size: 18px;
  line-height: 1.1em;
  color: #32325d;
  margin: 0.8em 0;
  padding-left: 10px;
  text-align: center;
}

.cardintro {
  display: flex;
  font-size: 18px;
  justify-content: space-evenly;
  padding: 8px;
  text-align: center;
  line-height: 20px;
  font-family: "Montserrat", sans-serif;
}

.actionBtns {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-primary {
  color: rgb(255, 255, 255);
  width: 90%;
  outline: none;
  margin: 1rem;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: rgb(50, 133, 201);
  border-radius: 4px;
}

.button-secondary {
  color: rgb(255, 255, 255);
  width: 90%;
  outline: none;
  margin: 1rem;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: rgb(10, 38, 61);
  border-radius: 4px;
}

.badge-not-instock {
  color: black;
  width: 90%;
  outline: none;
  margin: 1rem;
  border: 0px;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: rgb(206, 206, 206);
  text-align: center;
}

.badge {
  position: absolute;
  top: 5px;
  left: 4px;
  z-index: 1;
  padding: 1px 4px;
  color: rgb(51, 116, 255);
}

.wishlistIcon {
  position: absolute;
  top: 9px;
  right: 17px;
  font-size: 18px;
  color: rgb(240, 72, 72);
}

.star {
  margin-right: 5px;
}
