.FilterCard {
  position: fixed;
  left: 0;
  top: 142px;
  width: 24%;
  background-color: rgb(207 223 255);
  /* background-color: rgb(255 211 207); */
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.radioBtn {
  width: 1rem;
  height: 1rem;
  margin-right: 0.15rem;
  position: relative;
  top: 0.15rem;
}

.slideBtn {
  margin-left: 4px;
}

@media screen and (max-width: 950px) {
  .FilterCard {
    display: none;
  }
}
