* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.section {
  height: 100vh;
  position: relative;
  display: flex;
  top: 100px;
  margin: 40px 140px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
