* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.section {
  /* height: 100vh; */
  position: relative;
  display: flex;
  top: 100px;
  margin: 40px 140px;
  padding-bottom: 100px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  min-height: 34vw;
}

.totalcost {
  display: none;
}

.emptyCart {
  font-size: xxx-large;
  background-color: #70bdff;
  padding: 50px 165px;
  color: #fff;
  margin-bottom: 250px;
}

@media screen and (max-width: 950px) {
  .section {
    top: 0;
    margin: 0 23px;
  }
  .totalcost {
    display: block;
    text-align: center;
    margin: 50px auto;
  }
  .orderBtn {
    background-color: #4789cf;
    border: none;
    padding: 6px 20px;
    text-decoration: none;
    width: 99%;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 10px;
  }
  .emptyCart {
    font-size: smaller;
    background-color: #70bdff;
    padding: 50px 135px;
    color: #fff;
  }
}
