.footer {
  background-color: #3f3947;
  min-height: 7rem;
  width: 100%;
  padding: 1.5rem;
  color: #fff;
  font-size: 1.2rem;
  box-sizing: border-box;
  font-family: "Montserrat";
  text-align: center;
}

.socialLinks,
.footerHeader {
  margin: 10px 0;
}

.icon {
  color: #fff;
  margin: 10px;
}

.footerEnd {
  font-size: small;
  font-weight: 200;
}
