.card {
  background: rgb(255, 255, 255);
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  width: 800px;
  border-radius: 4px;
  display: flex;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}

.cardHero {
  flex: 0 0 50%;
  position: relative;
}

.cardContent {
  display: flex;
  flex: 1;
  padding: 35px;
  margin-top: 0px;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
}

.cardImg {
  display: block;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px 0 0 4px;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardBtns {
  display: flex;
  justify-content: space-between;
}

.cardBtn1 {
  border: 2px solid black;
  padding: 6px 20px;
  text-decoration: none;
  background-color: transparent;
}

.cardBtn1:hover {
  border: 2px solid #1696ff;
  padding: 6px 20px;
  text-decoration: none;
  background-color: transparent;
}

.quantity {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 24px;
  top: 60px;
}

.quantityBtn {
  padding: 0px 12px;
  margin: 12px;
  border-radius: 2px;
  border: 0.8px solid gray;
  background-color: transparent;
}

.quantityBtn:hover {
  border: 0.8px solid #1696ff;
}

.quantityTxt {
  margin: 10px;
  padding: 4px;
}

@media screen and (max-width: 950px) {
  .card {
    width: 405px;
    height: 150px;
  }

  .cardImg {
    display: block;
    width: 70%;
    height: 100%;
  }

  .cardContent {
    display: flex;

    padding: 24px;
    margin-top: 0px;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    left: -41px;
    font-size: 0.6rem;
    width: 80%;
  }

  .cardHero {
    position: relative;
  }

  .quantity {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 47px;
    top: 60px;
  }

  .cardBtns {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 20px;
  }

  .cardBtn1 {
    border: 2px solid black;
    padding: 0px 10px;
    text-decoration: none;
    background-color: transparent;
  }
  .cardBtn1:hover {
    border: 2px solid #1696ff;
    padding: 0px 10px;
    text-decoration: none;
    background-color: transparent;
  }
}
