.carousel {
  position: relative;
  top: 128px;
  margin-bottom: 200px;
}

.btn {
  z-index: 1;
  position: relative;
  left: 45%;
  top: 55%;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  display: block;
  background: transparent;
  /* box-shadow: 3px 3px 3px -2px; */
  color: black;
  border: 2px solid black;
  margin-bottom: 60px;
  text-align: center;
}
.btn:hover {
  background-color: #007bff;
  color: white;
  border: 2px solid #007bff;
  transition: all 0.5s ease;
}

@media screen and (max-width: 950px) {
  .carousel {
    position: relative;
    top: 40px;

    margin-bottom: 120px;
  }

  .btn {
    left: 38%;
    top: 58%;
  }

  .bannerImg img {
    width: 120% !important;
    height: 275px;
  }
}
